#root{
  text-align: center;
  font-family: 'DM Serif Display', serif;
}
.header {
  width: 100%;
  background-color:#43658B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-style: italic;
  
}
.logo {
  color:#ED6663 ;
  text-decoration: underline;
  flex: 20%;
  font-family: 'Mr Dafoe', cursive;
  font-size: 60px;
  cursor: pointer;
}

.menu{
  flex: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.menu :hover{
  color: white
}

.menu a {
  color: #ED6663;
}
.container{
  min-height: 50vh;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 10% ;
  margin-top: 5%;
  flex-wrap: wrap;
}
h2{
  color: #43658B;
  font-style: normal;
 
}
/* ------------Home */
.homePage{
  min-height: 70vh;
}
/*---------------- SignUp, SignIn */
.label{
  font-style: normal;
  color: #43658B;
}
.form-control{
  font-size: 20px !important;
}
.inTheLabel{
  font-style: italic;
  color: #875959 !important;
  background-color: #FFA372 !important;
  font-size: 18px !important;
}
.greenMessage{
  font-size: 30px;
  color: green;
}
.redMessage{
  font-size: 30px;
   background-color:crimson;

}
.myButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin: 3%;
}
.oneButton{
  background-color: #ED6663 !important;
  color: #43658B !important;
  font-style: italic;
}
.deleteButton{
  background-color: wheat !important;
  border: 4px solid #ED6663 !important;
}
.validButton{
  background-color: wheat !important;
  border: 4px solid green !important;
}
.smallMessage{ /*- utilisé dans NosCompetences-*/
  color: #875959;
  font-style: italic;
}
.errorClasse{
  border: 2px solid red !important;
}
.inTheLabel .form-control:invalid {
  box-shadow: 0 0 5px 1px red;
}
.inTheLabel .form-control:valid {
  box-shadow: 0 0 5px 1px green;
}
/* ---------------------NosCompetences */
#imageNosCopms{  
  background-color: #003557;
}
.allComps{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
}
.oneComp{  /*----flex: [flex-grow] [flex-shrink] [flex-basis]----*/
  flex: 33%;
  padding: 1%;
}
.oneComp:nth-child(2n){
  border: 1px solid #FFA372;
  color: #875959;
  border-radius: 5px;
}
.oneComp:nth-child(2n+1){
  background-color:  #FFA372;
  color: #875959;
  border-radius: 5px;
}
.token{
  color: white;
  background-color: red;
  padding: .5%;
  margin: 2%;
}
.nontoken{
  color: white;
  background-color: green;
  padding: 1%;
  margin: 2%;
}
.lire{
  text-decoration: underline;
 font-style: italic;
 cursor: pointer;
}
/* --------One Competence */
.photAndDescription{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-top: 2%;
   margin-bottom: 2%;
   background-color: #FFA372; 
   padding: 2%;
}
/* ------------profil */
.history{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.message{
  color: #003557;
  font-size: 30px;
}
.profilOneCompetence{
  flex: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}
.profilOneCompetence:nth-child(2n){
  border: 1px solid #FFA372;
  color: #875959;
  border-radius: 5px;
}
.profilOneCompetence:nth-child(2n+1){
  background-color:  #FFA372;
  color: #875959;
  border-radius: 5px;
}
/* ----FormEditComp */
.editInfo{
  font-style: normal;
  color: #003557 !important;
}



/* footer */
.footer{
  /* position: absolute;
  bottom: 0px; */
  width: 100%;
  height: 8vh;
  background-color: #43658B;
  color:#ED6663 ;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  font-style: italic;
  clear: both;
}
.social-net{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.social-net a{
  background-color: #ED6663;
  color: #43658B;
  padding: 2px;
}

/* <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css"> */

@media screen and (max-width: 575px) {
  .header{
  height: auto;
  font-size: 18px;
  }
  .logo {
    font-size: 40px;
  }
  .footer{
      flex-direction: column;
      position: relative;
      height: 25vh;
      margin-top: 10%;
  }
  .social-net{
      width: 100%;
  }
  .social-net a{
    width:50%;
    justify-content: space-around ;
    background-color: transparent;
    color: #ED6663
  }
  .myButtons{
  flex-direction: column;
  justify-content:space-between
  }
  .container{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10%;
  }
  .allComps{
  flex-direction: column;
  }
  .oneComp{
    flex: 1 1 100%;
  }
  .photAndDescription{
    flex-direction: column;
    padding: 2%;
  }
  .profilOneCompetence{
    flex-direction: column;
  }
  .redMessage {
    font-size: 20px;
  }
  #agendaPhoto{
    display: none;
  }
  h2{
    font-size: 1.2rem !important;
    margin-top: 50px !important;
  }
  h1{
    font-size: 2rem !important;
  }
  h4{
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px){
  .header{
    height: auto;
   
  }
  .logo {
    font-size: 2.5rem;
    flex:21%;
  }
  .menu{
    flex: 60%;
  }
  .footer{
    flex-direction: column;
     margin-top: 10%;
     position: relative;
     height: 25vh;
  }
  .social-net{
    width: 100%;
  }
  .social-net a{
    width: 50%;
    background-color: transparent;
    color: #ED6663;
    padding:0;
  }
  .container{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10%;
  }
  #agendaPhoto{
   width:70%;
  }
  
  h1{
    font-size: 2.5rem !important;
  }
  h2{
    font-size: 1.8rem !important;
    margin-top: 50px !important;
  }
  h4{
    font-size: 1.5rem !important;
  }
  p{
    font-size: 1.4rem !important;

  }
}

