#root{
  text-align: center;
  font-family: 'DM Serif Display', serif;
}
.header {
  width: 100%;
  background-color:#43658B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-style: italic;
}
.logo {
  color:#ED6663 ;
  text-decoration: underline;
  flex: 20%;
  font-family: 'Mr Dafoe', cursive;
  font-size: 60px;
  cursor: pointer;
}
.menu{
  flex: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu :hover{
  color: #ED6663;
}

.menu :active{
  color: #ED6663;
}
.container{
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 10% ;
  margin-top: 5%;
  flex-wrap: wrap;
}
h2{
  color: #43658B;
  font-style: normal;
 
}
/*---------------- SignUp, SignIn */
.label{
  font-style: normal;
  color: #43658B;
}
.inTheLabel{
  font-style: italic;
  color: #875959 !important;
  background-color: #FFA372 !important;
  font-size: 10px;
}
.greenMessage{
  font-size: 30px;
  color: green;
}
.myButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin: 3%;
}
.oneButton{
  background-color: #ED6663 !important;
  color: #43658B !important;
 
  font-style: italic;
}
.smallMessage{ /*- utilisé dans NosCompetences-*/
  color: #875959;
  font-style: italic;
}
/* ---------------------NosCompetences */
#imageNosCopms{  
  background-color: #003557;
}
.allComps{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
.oneComp{  /*----flex: [flex-grow] [flex-shrink] [flex-basis]----*/
  flex: 33%;
  padding: 1%;
}
.oneComp:nth-child(2n+1){
  background-color:  #FFA372;
  color: #875959;
  border-radius: 5px;
}
.token{
  color: white;
  background-color: red;
  padding: 1%;
}
.nontoken{
  color: white;
  background-color: green;
  padding: 1%;
}
.lire{
  text-decoration: underline;
 font-style: italic;
 cursor: pointer;
}





/* footer */
.footer{
  /* position: absolute;
  bottom: 0px; */
  width: 100%;
  height: 8vh;
  background-color: #43658B;
  color:#ED6663 ;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  font-style: italic;
  clear: both;
}
.social-net{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.social-net a{
  background-color: #ED6663;
  color: #43658B;
  padding: 2px;
}

/* <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css"> */

@media screen and (max-width: 575px) {
  .header{
  height: auto;
  font-size: 18px;
  }
  .logo {
    font-size: 40px;
  }
  .footer{
      flex-direction: column;
      position: relative;
      height: 25vh;
  }
  .social-net{
      width: 100%;
  }
  .social-net a{
    width:50%;
    justify-content: space-around ;
    background-color: transparent;
    color: #ED6663
  }
  .myButtons{
  flex-direction: column;
  justify-content:space-between
  }
  .container{
    margin: auto !important;
  }
  .allComps{
  flex-direction: column;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 800px){
  .header{
    height: auto;
    font-size: 15px;
  }
  .logo {
    font-size: 30px;
    flex:22%;
  }
  .menu{
    flex: 60%;
  }
  .footer{
    flex-direction: column;
     margin-top: 3%;
  }
  .social-net{
    width: 100%;
  }
  .social-net a{
    width: 50%;
    background-color: transparent;
    color: #ED6663;
    padding:0;
  }
  .container{
    margin: auto !important;
  }
}

