#root{
  text-align: center;
  font-family: 'DM Serif Display', serif;
}
.header {
  width: 100%;
  background-color:#43658B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-style: italic;
}
.logo {
  color:#ED6663 ;
  text-decoration: underline;
  flex: 20%;
  font-family: 'Mr Dafoe', cursive;
  font-size: 60px;
  cursor: pointer;
}
.menu{
  flex: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu :hover{
  color: #ED6663;
}

.menu :active{
  color: #ED6663;
}
.container{
  margin: 5% !important;
  flex-wrap: wrap;
}
/* SignUp, SignIn */
.label{
  font-style: normal;
  color: #43658B;
}
.inTheLabel{
  font-style: italic;
  color: #875959 !important;
  background-color: #FFA372 !important;
  font-size: 10px;
}
.greenMessage{
  font-size: 30px;
  color: green;
}
.myButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin: 3%;
}
.oneButton{
  background-color: #ED6663 !important;
  color: #43658B !important;
 
  font-style: italic;
}
.smallMessage{
  color: #875959;
  font-style: italic;
}







/* footer */
.footer{
  width: 100%;
  height: 8vh;
  background-color: #43658B;
  color: #ED6663;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  font-style: italic;
}
.social-net{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.social-net a{
  background-color: #ED6663;
  color: #43658B;
  padding: 2px;
}

/* <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css"> */

@media screen and (max-width: 575px) {
  .header{
  height: auto;
  font-size: 18px;
  }
  .logo {
    font-size: 40px;
  }
  .footer{
      flex-direction: column;
      position: relative;
  }
  .social-net{
      width: 100%;
  }
  .social-net a{
    width:50%;
    justify-content: space-around ;
    background-color: transparent;
    color: #ED6663
  }
  .myButtons{
  flex-direction: column;
  justify-content:space-between
  }
  .container{
      margin: auto !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 800px){
  .header{
    height: auto;
    font-size: 15px;
  }
  .logo {
    font-size: 30px;
    flex:22%;
  }
  .menu{
    flex: 60%;
  }
  .footer{
    flex-direction: column;
     margin-top: 3%;
  }
  .social-net{
    width: 100%;
  }
  .social-net a{
    width: 50%;
    background-color: transparent;
    color: #ED6663;
    padding:0;
  }
 
  .container{
    margin: auto !important;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
